* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/Images/cursor.svg"), auto;
    scroll-behavior: smooth;
}


:root {
    --ram-green: #22B022;
    --ram-gray : #C5D9D0;
    --ram-font: 'Inter';
    --ram-cursor: cursor: url('Images/cursor.svg'), pointer;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
    cursor: --ram-cursor;
    height:2000px
}

a:hover {
  cursor: url('Images/cursor.svg'), pointer;

}

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: transparent;
    z-index: 10000;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    transition: all 300ms ease-out;
    }

.navbar .nav-item .nav-link{
    color: white;
    font-family: var(--ram-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    margin-right:34px;

    
}

.navbar .nav-item .nav-link li a {
    color: var(--ram-green);
    position: relative;
    text-decoration: none;
  }
  
  .navbar .nav-item .nav-link li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .navbar .nav-item .nav-link li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: var(--ram-green);
}

.navbar .nav-item .nav-link:hover{
  color: var(--ram-gray);
  font-family: var(--ram-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-right:34px;

  
}

.navbar .nav-item .nav-link:focus {
    border: 0;
    color: var(--ram-green);
    border-color: #C5D9D0   ;
}

.navbar .navbar-nav ul {
    display: inline-block;
    list-style-type: none;
}


.navbar .navbar-nav li a:hover  {
    color: #22B022;

}

.navbar {
    padding-top: 15px;
}



.navbar .navbar-brand {
    color:white;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    transition: 0.2s ease;
}

.navbar .nav-btn {
    background: var(--ram-green);
    border-radius: 100px;
    width: 211px;
    min-height: 56px;
    border: 0;
    font-family: var(--ram-font);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color:white;
    cursor: var(--ram-cursor)
}

.navbar .nav-btn::after {
  content:'Обади ни се';
}

.navbar .nav-btn:hover::after {
  content: '0878 441 312';
}

.navbar .nav-btn:hover {
    background: white;
    color: var(--ram-green);

    svg {
      width: 22px;
      height: 22px;      
      fill: var(--ram-green);
    }
}

.hero .remont {
    color: var(--ram-green);
}


.repair-img {
    position: absolute;
    left: 823px;
    top: 311px;
    z-index: -1;
    
  
}

.repair-up {
    position: absolute;
    top: 240px;
    left: 965PX;
}




.hero {
  text-align: center;
  padding-top: 230px;
}



.btn-text {
    text-align: center;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 24px;
    vertical-align: middle;

    /* identical to box height, or 133% */
    display: inline;
    justify-content: center;
    align-items: center;
    
    color: #C5D9D0;
}

.btn {
  padding: 10px;
}

.btn-text-container {
    display: inline;
    padding: 10px;
}

.dollar {
    margin-left: 10px;
}




.hero-img {
    margin: 0 auto;
    display: flex;
}
  

.hero {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative
  

}





.hero p {
  padding-top: 40px;
  max-width: 654px;
  max-height: 46px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 126.52%;
  
  /* or 23px */
  text-align: center;
  margin: 0 auto;
  color: white;
  padding-bottom: 80px;
  
  
}
.hero h1 {
  max-width: 730px;
  max-height: 231px;
  left: 391px;
  top: 304px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.813rem;
  line-height: 126.52%;
  
  /* or 77px */
  text-align: center;
  
  color: #FCFCFE;
}

.hero h1::selection {
  background: #22B022;
}

.hero .remont::selection {
    background: #22B022;
    color: white;
  }

.phone {
  margin-right: 0.625rem

}

.hero-btn {

  margin-top: 40px;

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  
  width: 201px;
  height: 52px;
  
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  margin: 0 auto;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: var(--ram-cursor);

}

.hero-btn::after {
  content:'Обади ни се';

  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  
  /* identical to box height, or 133% */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}

.hero-btn:hover {
  cursor: var(--ram-cursor);
}

.hero-btn:hover::after {
  content: '0878 441 312';
}


.hero-btn:hover {
  border: 1px solid white;
}

.hero-lines-up {
  position:absolute;
  top:-1.5rem;
  left:12rem

}



.hero-up {
  position: absolute;
  top: 0.4rem;
  right: 11rem;
}
.repair-line {
  position: absolute;
  top: 4.1rem;
  right: 15rem;
}

.cta-arrow {
  position: absolute;
  left:11.5rem;
  top: 17rem;
}

.linii-otdolu {
  position:absolute;
  right:11rem;
  bottom:3rem;
}

@media only screen and (max-width: 1199px) {
  .hero-lines-up {
    position:absolute;
    top:-1.5rem;
    left:6rem
  
  }

  
  .hero-up {
    position: absolute;
    top: 0.4rem;
    right: 5.5rem;
  }
  .repair-line {
    position: absolute;
    top: 4.1rem;
    right: 9.5rem;
  }
  
  .cta-arrow {
    position: absolute;
    left:6rem;
    top: 17rem;
  }
  
  .linii-otdolu {
    position:absolute;
    right:5rem;
    bottom:3rem;
  }
  
}