@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/Images/cursor.svg"), auto;
  scroll-behavior: smooth;
}

:root {
  --ram-green: #22B022;
  --ram-gray: #C5D9D0;
  --ram-font: "Inter";
  --ram-cursor: cursor: url("Images/cursor.svg"), pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button:hover {
  cursor: url("/Images/cursor.svg"), auto;
}

body {
  cursor: url("/Images/cursor.svg"), auto;
}

a:hover {
  cursor: url("Images/cursor.svg"), pointer;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

.navbar .nav-item .nav-link {
  color: white;
  font-family: var(--ram-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-right: 34px;
}

.navbar .nav-item .nav-link li a {
  color: var(--ram-green);
  position: relative;
  text-decoration: none;
}

.navbar .nav-item .nav-link li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar .nav-item .nav-link li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: var(--ram-green);
}

.navbar .nav-item .nav-link:hover {
  color: var(--ram-gray);
  font-family: var(--ram-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-right: 34px;
}

.navbar .nav-item .nav-link:focus {
  border: 0;
  color: var(--ram-green);
  border-color: #C5D9D0;
}

.navbar .navbar-nav ul {
  display: inline-block;
  list-style-type: none;
}

.navbar .navbar-nav li a:hover {
  color: #22B022;
}

.navbar {
  padding-top: 15px;
}

.navbar .navbar-brand {
  color: white;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  transition: 0.2s ease;
}

.navbar .nav-btn {
  background: var(--ram-green);
  border-radius: 100px;
  width: 211px;
  min-height: 56px;
  border: 0;
  font-family: var(--ram-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: white;
  cursor: var(--ram-cursor);
}

.navbar .nav-btn::after {
  content: "Обади ни се";
}

.navbar .nav-btn:hover::after {
  content: "0878 441 312";
}

.navbar .nav-btn:hover {
  background: white;
  color: var(--ram-green);
}
.navbar .nav-btn:hover svg {
  width: 22px;
  height: 22px;
  fill: var(--ram-green);
}

.hero .remont {
  color: var(--ram-green);
}

.repair-img {
  position: absolute;
  left: 823px;
  top: 311px;
  z-index: -1;
}

.repair-up {
  position: absolute;
  top: 240px;
  left: 965PX;
}

.hero {
  text-align: center;
  padding-top: 230px;
}

.btn-text {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 24px;
  vertical-align: middle;
  /* identical to box height, or 133% */
  display: inline;
  justify-content: center;
  align-items: center;
  color: #C5D9D0;
}

.btn {
  padding: 10px;
}

.btn-text-container {
  display: inline;
  padding: 10px;
}

.dollar {
  margin-left: 10px;
}

.hero-img {
  margin: 0 auto;
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.hero p {
  padding-top: 40px;
  max-width: 654px;
  max-height: 46px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 126.52%;
  /* or 23px */
  text-align: center;
  margin: 0 auto;
  color: white;
  padding-bottom: 80px;
}

.hero h1 {
  max-width: 730px;
  max-height: 231px;
  left: 391px;
  top: 304px;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.813rem;
  line-height: 126.52%;
  /* or 77px */
  text-align: center;
  color: #FCFCFE;
}

.hero h1::-moz-selection {
  background: #22B022;
}

.hero h1::selection {
  background: #22B022;
}

b::-moz-selection {
  background: #22B022;
  color: white;
}

b::selection {
  background: #22B022;
  color: white;
}

.hero .remont::-moz-selection {
  background: #22B022;
  color: white;
}

.hero .remont::selection {
  background: #22B022;
  color: white;
}

.phone {
  margin-right: 0.625rem;
}

.hero-btn {
  margin-top: 40px;
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 201px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  margin: 0 auto;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: var(--ram-cursor);
}

.hero-btn::after {
  content: "Обади ни се";
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero-btn:hover {
  cursor: var(--ram-cursor);
}

.hero-btn:hover::after {
  content: "0878 441 312";
}

.hero-btn:hover {
  border: 1px solid white;
}

.animaciikabatko {
  overflow: hidden;
  height: 75px;
  display: inline-grid;
  position: relative;
}

.animaciikabatko b {
  display: block;
  -webkit-animation: example 9000ms ease infinite;
          animation: example 9000ms ease infinite;
  font-weight: 700;
}

@-webkit-keyframes example {
  10% {
    transform: translate(0px, -112%);
  }
  25% {
    transform: translate(0px, -100%);
  }
  35% {
    transform: translate(0px, -212%);
  }
  50% {
    transform: translate(0px, -200%);
  }
  60% {
    transform: translate(0px, -312%);
  }
  75% {
    transform: translate(0px, -300%);
  }
  85% {
    transform: translate(0px, -412%);
  }
  100% {
    transform: translate(0px, -400%);
  }
}

@keyframes example {
  10% {
    transform: translate(0px, -112%);
  }
  25% {
    transform: translate(0px, -100%);
  }
  35% {
    transform: translate(0px, -212%);
  }
  50% {
    transform: translate(0px, -200%);
  }
  60% {
    transform: translate(0px, -312%);
  }
  75% {
    transform: translate(0px, -300%);
  }
  85% {
    transform: translate(0px, -412%);
  }
  100% {
    transform: translate(0px, -400%);
  }
}
.hero-lines-up {
  position: absolute;
  top: -1.5rem;
  left: 12rem;
}

.hero-up {
  position: absolute;
  top: 0.4rem;
  right: 11rem;
}

.repair-line {
  position: absolute;
  top: 4.1rem;
  right: 15rem;
}

.cta-arrow {
  position: absolute;
  left: 11.5rem;
  top: 17rem;
}

.linii-otdolu {
  position: absolute;
  right: 11rem;
  bottom: 3rem;
}

@media only screen and (max-width: 1199px) {
  .hero-lines-up {
    position: absolute;
    top: -1.5rem;
    left: 6rem;
  }
  .hero-up {
    position: absolute;
    top: 0.4rem;
    right: 5.5rem;
  }
  .repair-line {
    position: absolute;
    top: 4.1rem;
    right: 9.5rem;
  }
  .cta-arrow {
    position: absolute;
    left: 6rem;
    top: 17rem;
  }
  .linii-otdolu {
    position: absolute;
    right: 5rem;
    bottom: 3rem;
  }
}
.hero-img {
  margin-top: 7.5rem;
  width: 100%;
}

.logos {
  padding-top: 120px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 50vh;
  width: 150vw;
}

.zashto {
  padding-top: 7.5rem;
}
.zashto .col .zashto-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.938rem;
  line-height: 120%;
  /* or 56px */
  color: #FFFFFF;
  text-align: center;
  /* Inside auto layout */
}
.zashto .col span {
  color: #22B022;
}
.zashto .col .zashto-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 126.52%;
  /* identical to box height, or 23px */
  color: rgba(187, 206, 198, 0.63);
  text-align: center;
}
.zashto .col .zashto-one-h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 126.52%;
  /* identical to box height, or 51px */
  color: #FFFFFF;
}
.zashto .col .zashto-one-p {
  width: 410px;
  height: 136px;
  margin-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: rgba(187, 206, 198, 0.63);
}
.zashto .col .zashto-row {
  position: relative;
}
.zashto .col .zashto-bak {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 300px;
  /* or 420px */
  color: #3C474B;
  position: absolute;
  z-index: -1;
  top: -6rem;
}

.process {
  padding-top: 120px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.process h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.938rem;
  line-height: 120%;
  /* or 56px */
  color: #FFFFFF;
  text-align: center;
}
.process span {
  color: #22B022;
}
.process .row > * {
  width: 20% !important;
}
.process p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 126.52%;
  /* identical to box height, or 23px */
  text-align: center;
  color: rgba(187, 206, 198, 0.63);
}
.process .number {
  width: 78px;
  height: 78px;
  background: #FFFFFF;
  border-radius: 100px;
  position: relative;
  margin: 0 auto;
}
.process .number span {
  left: 128px;
  top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #22B022;
}
.process h5 {
  width: 167px;
  height: 48px;
  padding-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 120%;
  margin: 0 auto;
  /* or 24px */
  text-align: center;
  padding-bottom: 16px;
  color: #FFFFFF;
}
.process h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  color: rgba(187, 206, 198, 0.63);
}

.process-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1rem;
  width: 373px;
  height: 294px;
}
.process-col svg .row > * {
  flex-shrink: 0;
  width: 10%;
  max-width: 20%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.process-col svg {
  display: block;
}
.process-col .pr-ar {
  margin-top: 6.25rem;
}

.about {
  position: relative;
  width: 100%;
  height: 288px;
  padding: 50px 0;
  background: #313C42;
}
.about h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.938rem;
  line-height: 120%;
  /* or 56px */
  color: #FFFFFF;
  text-align: center;
}
.about h1 span {
  color: #22B022;
}
.about p {
  width: 631px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;
  margin-top: 20px;
  /* or 25px */
  text-align: center;
  margin: 0 auto;
  color: rgba(187, 206, 198, 0.63);
}
.about .about-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 12px;
  width: 200px;
  height: 52px;
  background: #22B022;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 20px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #FFFFFF;
}
.about .about-btn:hover {
  border: 0;
  box-shadow: inset 0 -3.25em 0 0 white;
  color: #22B022;
  cursor: url("http://wuu.tonev.design/ramhard/Images/cursor.svg");
}

.faq {
  position: relative;
  padding-top: 120px;
}
.faq h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  /* or 56px */
  text-align: center;
  color: #FFFFFF;
}
.faq h1 span {
  color: #22B022;
}
.faq .faq-container {
  margin-top: 100px;
}
.faq .faq-container .accordion-item {
  background: #313C42;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  border-top: 0;
  color: rgba(187, 206, 198, 0.63);
}
.faq .accordion {
  border-top: 0;
}
.faq .accordion-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  border: 0;
  /* identical to box height, or 30px */
  color: #FFFFFF;
}
.faq .accordion-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  background: #313C42;
}
.faq .accordion-button:hover {
  cursor: url("/Images/cursor.svg"), auto;
}
.faq .accordion-button:after {
  background-image: url("/Images/faq-arrow.svg") !important;
}
.faq .panel, .faq .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
  border-top: 0;
}
.faq .accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-bottom-color: #313C42;
  border-top: 0;
}

.call-cta {
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 0px;
  gap: 32px;
  height: 372px;
  background: #22B022;
  cursor: url("/Images/cursor-w.svg"), auto;
}
.call-cta h1,
.call-cta p,
.call-cta .col,
.call-cta .row,
.call-cta .container,
.call-cta .call-cta:hover {
  cursor: url("/Images/cursor-w.svg"), auto;
}
.call-cta h1 {
  width: 742px;
  height: 112px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  cursor: url("/Images/cursor-w.svg"), auto;
  /* or 56px */
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.call-cta .call-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 12px;
  width: 200px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 100px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #22B022;
  margin: 0 auto;
  margin-top: 46px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

footer {
  margin-top: 5rem;
}
footer .navbar-brand {
  color: white;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  transition: 0.2s ease;
}
footer .footer-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  /* identical to box height, or 16px */
  margin-bottom: 24px;
  color: #FFFFFF;
}
footer ul {
  margin-top: 24px;
  list-style-type: none;
  padding: 0px;
}
footer li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  margin-top: 8px;
  /* identical to box height, or 24px */
  color: #FFFFFF;
}
footer li span {
  color: #22B022;
  font-weight: 500;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: white;
}
footer .col-md-3 {
  width: 300px;
}
footer .row {
  width: 100%;
}
footer #froter {
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: lightyellow;
}
footer #froter .copy {
  /* Text/Small/Normal */
  /* Inside auto layout */
}

#container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  border-top: 1px solid #BBBBBB;
}

#container > div {
  width: 279px;
  margin-left: 80px;
  margin-right: 80px;
}

.copy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
}

.izrabotka {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  text-align: center;
  color: #FFFFFF;
}
.izrabotka b {
  color: #B9E2B8;
}

#container svg {
  text-align: center;
}
#container svg:hover {
  fill: white;
}/*# sourceMappingURL=style.css.map */